{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Symbol</th>
                <th scope="col"># Shares</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>

            {% for row in history %}

                <tr>
                    <th scope="col">{{ row["date"] }}</th>
                    <td>{{ row["symbol"] }}</td>
                    <td>{{ row["shares"] }}</td>
                    <td>{{ row["price"] }}</td>
                </tr>

            {% endfor %}

        </tbody>
    </table>

{% endblock %}
