{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}

    {% if not companyName %}
    <form action="/quote" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="quote" placeholder="Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Quote</button>
    </form>
    {% else %}
    <header>
        <div class="text-center">
            <h4>{{ symbol }}: The latest price of {{ companyName }} stock is {{ stockPrice }}.</h2>
        </div>
    </header>
    {% endif %}

{% endblock %}